# WikiWiki API Configuration
WIKIWIKI_ID=yourWikiwikiIdName
WIKIWIKI_URL_BASE=https://wikiwiki.jp/
WIKIWIKI_API_KEY_ID=yourApiKey
WIKIWIKI_API_SECRET=yourApiSecret

# Discord Webhook Configuration
DISCORD_WEBHOOK_URL=yourWebhookURL

# Monitored Pages (comma-separated)
WIKIWIKI_PAGE_NAMES=yourMonitoredPages1,yourMonitoredPages2
WIKIWIKI_AUTO_TRACK_PATTERN=yourAutoMonitoredPagesPtnStr

# State File Path
STATE_PATH=state.json

# Snapshots Dir Path
SNAPSHOTS_DIR_PATH=.snapshots